# Create the data set for the project.

## Load the data files for all 27 English Premier League seasons.

In [1]:
# import pandas library as pd.
import pandas as pd

# read in all 27 season of the English Premier League csv files.
EPL19_20 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_19-20.csv')
EPL18_19 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_18-19.csv')
EPL17_18 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_17-18.csv')
EPL16_17 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_16-17.csv')
EPL15_16 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_15-16.csv')
EPL14_15 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_14-15.csv')
EPL13_14 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_13-14.csv')
EPL12_13 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_12-13.csv')
EPL11_12 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_11-12.csv')
EPL10_11 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_10-11.csv')
EPL09_10 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_09-10.csv')
EPL08_09 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_08-09.csv')
EPL07_08 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_07-08.csv')
EPL06_07 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_06-07.csv')
EPL05_06 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_05-06.csv')
EPL04_05 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_04-05.csv')
EPL03_04 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_03-04.csv')
EPL02_03 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_02-03.csv')
EPL01_02 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_01-02.csv')
EPL00_01 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_00-01.csv')
EPL99_00 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_99-00.csv')
EPL98_99 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_98-99.csv')
EPL97_98 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_97-98.csv')
EPL96_97 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_96-97.csv')
EPL95_96 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_95-96.csv')
EPL94_95 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_94-95.csv')
EPL93_94 = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_93-94.csv')

In [2]:
# merge all the data sets.
EPL = pd.concat([EPL93_94, EPL94_95, EPL95_96, EPL96_97, EPL97_98, 
                 EPL98_99, EPL99_00, EPL00_01, EPL01_02, EPL02_03, 
                 EPL03_04, EPL04_05, EPL05_06, EPL06_07, EPL07_08, 
                 EPL08_09, EPL09_10, EPL10_11, EPL11_12, EPL12_13, 
                 EPL13_14, EPL14_15, EPL15_16, EPL16_17, EPL17_18, 
                 EPL18_19, EPL19_20], sort=False, ignore_index=True)
# show the data frame shape.
print(EPL.shape)
# show the data frame with headers.
EPL.head()

(10052, 161)

  Div      Date     HomeTeam        AwayTeam  ...  BbAvAHA  BSH BSD  BSA
0  E0  14/08/93      Arsenal        Coventry  ...      NaN  NaN NaN  NaN
1  E0  14/08/93  Aston Villa             QPR  ...      NaN  NaN NaN  NaN
2  E0  14/08/93      Chelsea       Blackburn  ...      NaN  NaN NaN  NaN
3  E0  14/08/93    Liverpool  Sheffield Weds  ...      NaN  NaN NaN  NaN
4  E0  14/08/93     Man City           Leeds  ...      NaN  NaN NaN  NaN

[5 rows x 161 columns]

In [3]:
# save a copy of the data set.
EPL.to_csv('EnglishPremierLeague.csv', index=False)
!head EnglishPremierLeague.csv

Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Time,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA,B365>2.5,B365<2.5,P>2.5,P<2.5,Max>2.5,Max<2.5,Avg>2.5,Avg<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA,B365CH,B365CD,B365CA,BWCH,BWCD,BWCA,IWCH,IWCD,IWCA,PSCH,PSCD,PSCA,WHCH,WHCD,WHCA,VCCH,VCCD,VCCA,MaxCH,MaxCD,MaxCA,AvgCH,AvgCD,AvgCA,B365C>2.5,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,Attendance,HHW,AHW,HO,AO,HBP,ABP,GBH,GBD,GBA,LBH,LBD,LBA,SBH,SBD,SBA,SYH,SYD,SYA,SOH,SOD,SOA,GB>2.5,GB<2.5,GBAHH,GBAHA,GBAH,LBAHH,LBAHA,LBAH,B365AH,SJH,SJD,SJA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,BSH,BSD,BSA
E0,14/08/93,Arsenal,Coventry,0,3,A,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,14/08/93,Aston Villa,QPR,4,1,H,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,14/08/93,Chelsea,Blackburn,1,2,A,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,14/08/93,Liverpool,Sheffield Weds,2,0,H,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,14/08/93,Man City,Leeds,1,1,D,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,14/08/93,Newcastle,Tottenham,0,1,A,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,14/08/93,Oldham,Ipswich,0,3,A,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,14/08/93,Sheffield United,Swindon,3,1,H,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,14/08/93,Southampton,Everton,0,2,A,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

In [4]:
"""# download the data set.
from google.colab import files 
files.download('EnglishPremierLeague.csv')"""

"# download the data set.\nfrom google.colab import files \nfiles.download('EnglishPremierLeague.csv')"

## Create a 'Liverpool' football club data set.

In [5]:
# import pandas library.
import pandas as pd 

# read in the English Premier League data file.
EPL  = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague.csv')
print(EPL.shape)
EPL.head()

(10052, 161)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Div      Date     HomeTeam        AwayTeam  ...  BbAvAHA  BSH BSD  BSA
0  E0  14/08/93      Arsenal        Coventry  ...      NaN  NaN NaN  NaN
1  E0  14/08/93  Aston Villa             QPR  ...      NaN  NaN NaN  NaN
2  E0  14/08/93      Chelsea       Blackburn  ...      NaN  NaN NaN  NaN
3  E0  14/08/93    Liverpool  Sheffield Weds  ...      NaN  NaN NaN  NaN
4  E0  14/08/93     Man City           Leeds  ...      NaN  NaN NaN  NaN

[5 rows x 161 columns]

In [6]:
# single out 'Liverpoool' in 'HomeTeam' & 'AwayTeam' colums.
LPFCH =  EPL[EPL['HomeTeam']=='Liverpool']
LPFCA =  EPL[EPL['AwayTeam']=='Liverpool']

In [7]:
# merge the 2 data sets to create an only 'Liverpool' data set.
LPFC_EPL = pd.concat([LPFCH, LPFCA], sort=False, ignore_index=True)
print(LPFC_EPL.shape)
LPFC_EPL.head()

(997, 161)

  Div      Date   HomeTeam        AwayTeam  ...  BbAvAHA  BSH BSD  BSA
0  E0  14/08/93  Liverpool  Sheffield Weds  ...      NaN  NaN NaN  NaN
1  E0  25/08/93  Liverpool       Tottenham  ...      NaN  NaN NaN  NaN
2  E0  28/08/93  Liverpool           Leeds  ...      NaN  NaN NaN  NaN
3  E0  12/09/93  Liverpool       Blackburn  ...      NaN  NaN NaN  NaN
4  E0  02/10/93  Liverpool         Arsenal  ...      NaN  NaN NaN  NaN

[5 rows x 161 columns]

In [8]:
# save a copy of the data set.
LPFC_EPL.to_csv('LiverpoolFootballClubData_EPL.csv', index=False)
!head LiverpoolFootballClubData_EPL.csv

Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Time,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA,B365>2.5,B365<2.5,P>2.5,P<2.5,Max>2.5,Max<2.5,Avg>2.5,Avg<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA,B365CH,B365CD,B365CA,BWCH,BWCD,BWCA,IWCH,IWCD,IWCA,PSCH,PSCD,PSCA,WHCH,WHCD,WHCA,VCCH,VCCD,VCCA,MaxCH,MaxCD,MaxCA,AvgCH,AvgCD,AvgCA,B365C>2.5,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,Attendance,HHW,AHW,HO,AO,HBP,ABP,GBH,GBD,GBA,LBH,LBD,LBA,SBH,SBD,SBA,SYH,SYD,SYA,SOH,SOD,SOA,GB>2.5,GB<2.5,GBAHH,GBAHA,GBAH,LBAHH,LBAHA,LBAH,B365AH,SJH,SJD,SJA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,BSH,BSD,BSA
E0,14/08/93,Liverpool,Sheffield Weds,2,0,H,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,25/08/93,Liverpool,Tottenham,1,2,A,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,28/08/93,Liverpool,Leeds,2,0,H,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,12/09/93,Liverpool,Blackburn,0,1,A,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,02/10/93,Liverpool,Arsenal,0,0,D,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,16/10/93,Liverpool,Oldham,2,1,H,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,30/10/93,Liverpool,Southampton,4,2,H,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,06/11/93,Liverpool,West Ham,2,0,H,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
E0,28/11/93,Liverpool,Aston Villa,2,1,H,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

In [9]:
"""# download the data set.
from google.colab import files 
files.download('LiverpoolFootballClubData_EPL.csv')"""

"# download the data set.\nfrom google.colab import files \nfiles.download('LiverpoolFootballClubData_EPL.csv')"

## Load the English Premier League 2019-2020 Schedule.

In [10]:
# import the pandas library.
import pandas as pd 

# read in the 2019 season of the English Premier League csv file.
EPL_schedule = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/LSDS-DataSets/master/EnglishPremierLeagueData/EnglishPremierLeague_Schedule.csv')
print(EPL_schedule.shape)
EPL_schedule.head()

(380, 28)

   Division  GameDate  ... HomeBookingPoints_Y5_R10 AwayBookingPoints_Y5_R10
0       NaN  09/08/19  ...                      NaN                      NaN
1       NaN  10/08/19  ...                      NaN                      NaN
2       NaN  10/08/19  ...                      NaN                      NaN
3       NaN  10/08/19  ...                      NaN                      NaN
4       NaN  10/08/19  ...                      NaN                      NaN

[5 rows x 28 columns]

In [11]:
# single out 'Liverpoool' in 'HomeTeam' & 'AwayTeam' colums.
LPFCH =  EPL_schedule[EPL_schedule['HomeTeam']=='Liverpool']
LPFCA =  EPL_schedule[EPL_schedule['AwayTeam']=='Liverpool']

In [12]:
# merge the 2 data sets to create an only 'Liverpool' data set.
LPFC_EPL_schedule = pd.concat([LPFCH, LPFCA], sort=False, ignore_index=True)
print(LPFC_EPL_schedule.shape)
LPFC_EPL_schedule.head()

(38, 28)

   Division  GameDate  ... HomeBookingPoints_Y5_R10 AwayBookingPoints_Y5_R10
0       NaN  09/08/19  ...                      NaN                      NaN
1       NaN  24/08/19  ...                      NaN                      NaN
2       NaN  14/09/19  ...                      NaN                      NaN
3       NaN  05/10/19  ...                      NaN                      NaN
4       NaN  27/10/19  ...                      NaN                      NaN

[5 rows x 28 columns]

In [13]:
# save a copy of the data set.
LPFC_EPL_schedule.to_csv('LiverpoolFootballClubEPL_Schedule.csv', index=False)
!head LiverpoolFootballClubEPL_Schedule.csv

Division,GameDate,HomeTeam,AwayTeam,FullTimeHomeGoals,FullTimeAwayGoals,FullTimeResult,HalfTimeHomeGoals,HalfTimeAwayGoals,HalfTimeResult,HomeShots,AwayShots,HomeShotsOnTarget,AwayShotsOnTarget,HomeShotsHitFrame,AwayShotsHitFrame,HomeCorners,AwayCorners,HomeFouls,AwayFouls,HomeOffSides,AwayOffSides,HomeYellowCards,AwayYellowCards,HomeRedCards,AwayRedCards,HomeBookingPoints_Y5_R10,AwayBookingPoints_Y5_R10
,09/08/19,Liverpool,Norwich,,,,,,,,,,,,,,,,,,,,,,,,
,24/08/19,Liverpool,Arsenal,,,,,,,,,,,,,,,,,,,,,,,,
,14/09/19,Liverpool,Newcastle,,,,,,,,,,,,,,,,,,,,,,,,
,05/10/19,Liverpool,Leicester,,,,,,,,,,,,,,,,,,,,,,,,
,27/10/19,Liverpool,Spurs,,,,,,,,,,,,,,,,,,,,,,,,
,09/11/19,Liverpool,Man City,,,,,,,,,,,,,,,,,,,,,,,,
,30/11/19,Liverpool,Brighton,,,,,,,,,,,,,,,,,,,,,,,,
,04/12/19,Liverpool,Everton,,,,,,,,,,,,,,,,,,,,,,,,
,14/12/19,Liverpool,Watford,,,,,,,,,,,,,,,,,,,,,,,,

In [14]:
"""# download the data set.
from google.colab import files 
files.download('LiverpoolFootballClubEPL_Schedule.csv')"""

"# download the data set.\nfrom google.colab import files \nfiles.download('LiverpoolFootballClubEPL_Schedule.csv')"