## Installs.

In [1]:
# installs.
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.2MB/s
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

## Imports.

In [2]:
# imports.
import pandas as pd
import numpy as np
import requests
import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
pd.set_option('display.float_format', lambda x: '%.2f' % x)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
# read in the cleaned original data.
df_tr = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/WorldBank_1990_2018.csv')

## Train Data.

In [4]:
# Set train data.
train = df_tr.copy()
train = train.drop(columns=['Unnamed: 0'])
train.head()

  Country Code  ...  Forest area (% of land area)
0          ABW  ...                          2.33
1          AFG  ...                          2.07
2          AGO  ...                         48.91
3          ALB  ...                         28.79
4          AND  ...                         34.04

[5 rows x 11 columns]

### Train/Val Split.

In [5]:
# Set variables.
features = train.columns[:-1].tolist()
target = 'Forest area (% of land area)'

X = train.drop(columns=target)
y = train[target]

In [6]:
# Use train/val split on the data.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)
X_train.shape, y_train.shape, X_val.shape, y_val.shape, X_test.shape, y_test.shape

((4899, 10), (4899,), (1225, 10), (1225,), (1532, 10), (1532,))

### Random Forest Pipeline.

In [7]:
# random forest pipeline.
pipeline = make_pipeline(
    ce.OneHotEncoder(), 
    RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
)
pipeline.fit(X_train, y_train)

print ('Training Accuracy', pipeline.score(X_train, y_train))
print('Validation Accuracy', pipeline.score(X_val, y_val))
y_pred = pipeline.predict(X_val)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

Training Accuracy 0.9986954216649627
Validation Accuracy 0.9929648523153405

## Test Data.

In [8]:
# read in the cleaned predictions data frame.
df_te = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/WorldBank_2019_2120.csv')

In [9]:
# Set the test data.
test = df_te.copy()
test = test.drop(columns=['Unnamed: 0'])
test.head()

  Country Code  ...  Forest area (% of land area)
0          ABW  ...                          2.33
1          AFG  ...                          2.07
2          AGO  ...                         46.05
3          ALB  ...                         28.14
4          AND  ...                         34.04

[5 rows x 11 columns]

### Random Forest Pipeline.

In [10]:
# set the variables.
features = test.columns[:-1].tolist()
target = 'Forest area (% of land area)'

X_test = test[features]
y_test = test[target]

pipeline.fit(X_test, y_test)
y_pred = pipeline.predict(X_test)

print ('Test Accuracy', pipeline.score(X_test, y_test))
y_pred

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

Test Accuracy 0.9998526451418099

array([  2.4116666 ,   2.2803321 ,  44.96266689, ...,   7.47180292,
        42.56087829, -49.36206047])

In [11]:
# Set the predictions on the data frame.
test['Forest area (% of land area)'] = pd.Series(y_pred)
# Merge the train and test data for one dataframe.
predictions = pd.concat([train, test])

In [12]:
# show the data frame shape.
print(predictions.shape)
# show the data frame with headers.
predictions.head()

(34584, 11)

  Country Code  ...  Forest area (% of land area)
0          ABW  ...                          2.33
1          AFG  ...                          2.07
2          AGO  ...                         48.91
3          ALB  ...                         28.79
4          AND  ...                         34.04

[5 rows x 11 columns]

In [13]:
# Function to add in some country names.
def label_race (row):
   if row['Country Code'] == 'USA' :
      return 'United States of America'
   if row['Country Code'] == 'CHA' :
      return 'China'
   if row['Country Code'] == 'CAN' :
      return 'Canada'
   if row['Country Code'] == 'AUS' :
      return 'Australia'
   if row['Country Code'] == 'ARG' :
      return 'Argentina'
   if row['Country Code'] == 'BRA':
      return 'Brazil'
   if row['Country Code'] == 'BEL':
      return 'Belgium'   
   if row['Country Code'] == 'CHL':
      return 'Chile'
   if row['Country Code'] == 'DEU' :
      return 'Germany'
   if row['Country Code'] == 'ZAF' :
      return 'South Africa'
   if row['Country Code']  == 'NZL':
      return 'New Zealnd'
   if row['Country Code'] == 'GBR':
      return 'United Kingdom'
   if row['Country Code'] == 'IND' :
      return 'India'
   if row['Country Code'] == 'KHM' :
      return 'Cambodia'
   if row['Country Code']  == 'THA':
      return 'Thailand'
   if row['Country Code'] == 'VNM':
      return 'Vietnam'
   if row['Country Code'] == 'HIC' :
      return 'High Income Countries'
   if row['Country Code']  == 'MIC':
      return 'Middle Income Countries'
   if row['Country Code'] == 'LIC':
      return 'Low Income Countries'
   return 'Other'

In [14]:
# make a copy of the dataframe.
final_c = predictions.copy()

In [15]:
# Apply the function to the datarame.
final_c.apply (lambda row: label_race(row), axis=1)
final_c['Country Name'] = final_c.apply (lambda row: label_race(row), axis=1)
final_c = final_c[['Country Name',
                                  'Country Code',
                                  'Year',
                                  'Agricultural land (sq. km)',
                                  'Electric power consumption (kWh per capita)',
                                  'GDP per capita growth (annual %)',
                                  'Livestock production index (2004-2006 = 100)',
                                  'Ores and metals exports (% of merchandise exports)',
                                  'Urban population',
                                  'Crop production index (2004-2006 = 100)',
                                  'Food production index (2004-2006 = 100)',
                                  'Forest area (% of land area)']]

In [16]:
# Clean the dataframe.
final_c = final_c[final_c['Country Name'] != 'Other']
final_c = final_c[['Country Name',
 'Country Code',
 'Year',
 'Agricultural land (sq. km)',
 'Electric power consumption (kWh per capita)',
 'GDP per capita growth (annual %)',
 'Livestock production index (2004-2006 = 100)',
 'Ores and metals exports (% of merchandise exports)',
 'Urban population',
 'Crop production index (2004-2006 = 100)',
 'Food production index (2004-2006 = 100)',
 'Forest area (% of land area)']]
final_c['Forest area (% of land area)'] = final_c['Forest area (% of land area)'].clip(lower=0)

In [17]:
print(final_c.shape)
final_c.tail()

(2358, 12)

                   Country Name  ... Forest area (% of land area)
26842                New Zealnd  ...                        44.84
26895                  Thailand  ...                        44.16
26913  United States of America  ...                        38.27
26919                   Vietnam  ...                       127.97
26925              South Africa  ...                         7.47

[5 rows x 12 columns]

In [18]:
c = final_c[final_c['Country Name'] == 'Cambodia']

In [19]:
c.tail()

      Country Name  ... Forest area (% of land area)
25729     Cambodia  ...                         0.00
25993     Cambodia  ...                         0.00
26257     Cambodia  ...                         0.00
26521     Cambodia  ...                         0.00
26785     Cambodia  ...                         0.00

[5 rows x 12 columns]

In [20]:
"""# Download predictions result as a csv.
from google.colab import files 
final_c.to_csv('Deforestation_Predictions.csv', index=False)
files.download('Deforestation_Predictions.csv')"""

"# Download predictions result as a csv.\nfrom google.colab import files \nfinal_c.to_csv('Deforestation_Predictions.csv', index=False)\nfiles.download('Deforestation_Predictions.csv')"

In [21]:
"""# Download predictions result as a json.
final_c.to_json('Deforestation_Predictions.json', orient= 'records')
files.download('Deforestation_Predictions.json')"""

"# Download predictions result as a json.\nfinal_c.to_json('Deforestation_Predictions.json', orient= 'records')\nfiles.download('Deforestation_Predictions.json')"